## Workspace
target

mtgogetter/target
mtgogetter/Cargo.lock

## MTGO Parser
mtgoparser/target

## MTGO Updater
mtgoupdater/Cargo.lock
mtgoupdater/target

## MTGO GUI
mtgogui/target

# Cross compiler cache
xwin_cache

# IDE files
.vs/
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*~
_ReSharper*
*.log
